@page "/CreateGoal"
@inherits CreateGoalBase
@using Blazored.TextEditor

<head>
    <link rel="stylesheet" href="../css/add_goal_style.css" />
</head>




<button @onclick="CreateGoal">Create Goal</button>

<section class="create_goal_page">
    <div class="create_goal_page_container">

        <div class="title_container">
            <h1>Create goal</h1>
        </div>

        <div class="form">
            <div class="left">
                <div class="left_container">

                    <div class="form_box">
                        <label>Name of goal</label>
                        <input @bind="goalName" placeholder="name" />
                        <p class="error">@goalName_error</p>
                    </div>

                    <div class="form_box">
                        <label>Description</label>
                        <textarea @bind="goalDescription"></textarea>
                        <p class="error">@goalDescription_error</p>
                    </div>

                    <div>

                        <label>Configure start date for the goal</label>
                        <input @onclick="ToggleConfigureDateStart" type="checkbox" />
                    </div>

                    @if (IfConfigureStartDate)
                    {
                        <div class="form_box">
                            <label>Start of goal</label>
                            <input @bind="timeStartOfTheGoal" type="datetime-local" min="@minStartDate" />
                            <p class="error"></p>
                        </div>
                    }

                    <div>
                        <label>Configure deadline for the goal</label>
                        <input @onclick="ToggleConfigureDateEnd" type="checkbox" />
                    </div>

                    @if (IfConfigureEndDate)
                    {
                        <div class="form_box">
                            <label>End of goal</label>
                            <input type="datetime-local" @bind="timeEndOfTheGoal" min="@timeStartOfTheGoal.ToString("s")" />
                            <p class="error"></p>
                        </div>
                    }



                    <div class="form_box">
                        <label>Note</label>
                        <BlazoredTextEditor @ref="@QuillHtml">
                            <ToolbarContent>
                                <select class="ql-header">
                                    <option selected=""></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                </select>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                </span>
                            </ToolbarContent>
                            <EditorContent>
                                <h4>This Toolbar works with HTML</h4>
                                <a href="http://BlazorHelpWebsite.com">
                                    BlazorHelpWebsite.com
                                </a>
                            </EditorContent>
                        </BlazoredTextEditor>
                        <p class="error"></p>
                    </div>

                    <div class="form_box">
                        <label>Has motivator</label>
                        <input type="checkbox" @onclick="ToggleHasMotivator" />
                        <p>@motivator_error</p>
                    </div>

                    @if (IfHasMotivator)
                    {

                        <div class="motivator_container">
                            <label>Add type of motivator</label>

                            <div class="motivator_checkbox">
                                <label>Add video</label>
                                <input @onclick="ToggleHasVideoMotivator" type="checkbox" />

                                @if (IfHasVideoMotivator)
                                {
                                    <div class="video_input">
                                        <label>Video link</label>
                                        <input @bind="linkToVideoMotivator" />
                                        <p>@linkToVideoMotivator_error</p>
                                    </div>
                                }
                            </div>

                            <div class="motivator_checkbox">
                                <label>Add mantra</label>
                                <input @onclick="ToggleHasMantraMotivator" type="checkbox" />

                                @if (IfHasMantraMotivator)
                                {
                                    <div class="video_input">
                                        <label>Enter your mantra</label>
                                        <textarea @bind="mantra"></textarea>
                                        <p>@mantra_error</p>
                                    </div>
                                }

                            </div>

                            <div class="motivator_checkbox">
                                <label>Add image</label>
                                <input @onclick="ToggleHasImageMotivator" type="checkbox" />

                                @if (IfHasImageMotivator)
                                {
                                    <div class="image_input">
                                        <label>Add link to image</label>
                                        <input @bind="linkToImage" />
                                        <p>@linkToImage_error</p>
                                    </div>
                                }

                            </div>


                            <div class="motivator_checkbox">
                                <label>Expected prize?</label>
                                <input @onclick="ToggleHasPrizeMotivator" type="checkbox" />

                                @if (IfHasPrizeMotivator)
                                {
                                    <div class="image_input">
                                        <label>For what you work for?</label>
                                        <textarea @bind="prize"></textarea>
                                        <p>@prize_error</p>
                                    </div>
                                }


                            </div>
                        </div>
                    }



                </div>
            </div>


            <div class="right">
                <div class="right_container">

                    <div class="form_box">
                        <label>Has list of steps</label>
                        <input @onclick="ToggleHasListOfSteps" type="checkbox" />
                    </div>

                    @if (IfHasListOfSteps)
                    {
                        <div class="list_of_steps">

                            @foreach (var step in ListOfSteps)
                            {
                                <div class="step">
                                    <div class="form_box">
                                        <label>Step Name</label>
                                        <span>@step.StepId. </span>
                                        <input @bind="step.StepName" />
                                        <button @onclick="(() => RemoveStepById(step.StepId))">X</button>
                                    </div>
                                </div>
                            }
                            <div class="step_button_container">
                                <button @onclick="AddStepToList">Add Next Step</button>
                            </div>

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>


@if (Goals != null)
{
    <div class="goals">
        @foreach (var goal in Goals)
        {
            <p>@goal.GoalId</p>
            <p>@goal.Name</p>
            <p>@goal.Description</p>
            <p>@goal.TimeStart</p>
            <p>@goal.TimeEnd</p>

        }

    </div>
}
else
{

    <div class="spinner-border">

    </div>

}

@if (NotesHtml != null)
{
    <div class="goals">
        @foreach (var note in NotesHtml)
        {
            <p>@note</p>
        }

    </div>
}
else
{

    <div class="spinner-border">

    </div>

}