@page  "/GoalDetails"
@page "/GoalDetails/{GoalId:int}"

@inherits ViewGoalBase

<head>
    <link rel="stylesheet" href="../css/goal_details_style.css" />
</head>


<section id="GoalDisplay">
    <div class="goal_display_container">

        <div class="main_goal_display">
            <div class="main_goal_display_container">

                @if (goal != null)
                {
                    <div class="goal_name">
                        <h2>Goal Name: @goal.Name</h2>

                        <div class="line"></div>
                    </div>

                    <div class="goal_description">
                        <p>@goal.Description</p>
                    </div>

                    <div class="line"></div>

                    <div class="goal_time">
                        <div class="goal_started">
                            <label>You started the goal:</label>
                            <p>@goal.TimeStart.Date</p>
                        </div>

                        @if (goal.Completed)
                        {
                            <div class="goal_started">
                                <label>You finished goal:</label>
                                <p>@goal.TimeEnd.Date</p>
                            </div>
                        }
                        else
                        {
                            <div class="goal_started">
                                <label>Estimated time to finish the goal:</label>
                                <p>@goal.TimeEnd.Date</p>
                            </div>
                        }
                    </div>

                    <div class="line"></div>

                    <div class="motivators">

                    </div>
                }
                else
                {
                    <div class="loader"></div>
                }

            </div>
        </div>

        <div class="other_goal_information_display">
            <div class="other_goal_information_display_container">

                <div class="steps">
                    @if (steps != null)
                    {
                        <div class="steps_list">

                            <div class="step_labels">
                                <div class="name_l">
                                    <h4>Step</h4>
                                </div>

                                <div class="completed_l">
                                    <h4>Completed</h4>
                                </div>
                            </div>
                            

                            @foreach (var s in steps)
                            {
                                <div class="step">
                                    <div class="step_number">
                                        <p>@s.StepNumber.</p>
                                    </div>
                                    <div class="step_name">
                                        <p>@s.StepName</p>
                                    </div>
                                    <div class="if_completed_step">
                                        <button class="check_box"></button>
                                    </div>
                                </div>
                                
                                
                            }
                        </div>
                       
                    }
                    else
                    {
                        <div class="loader"></div>
                    }
                </div>

                


            </div>
        </div>

    </div>
</section>